.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

ul:not(.navbar-right) .dropdown-menu{
	background-color: black;
}

ul:not(.navbar-right) .dropdown-menu a{
	color: #9d9d9d;
	width: 100%;
	display: block;
	padding: 10px 10px;
	text-decoration: none;
}
ul:not(.navbar-right) .dropdown-menu a:hover, .dropdown-menu a:focus, .active{
	background-color: #222;
	color: white;
}

.navbar a:hover{
	-webkit-animation: tiembla 0.3s infinite;
}
@-webkit-keyframes tiembla{
	0%  { -webkit-transform:rotateZ(-3deg); }
	50% { -webkit-transform:rotateZ( 0deg) scale(.95); }
	66%  { -webkit-transform:rotateZ(3deg); }
	100% { -webkit-transform:rotateZ( 0deg) scale(1); }
}